.roomCard {
  width: 10rem;
  height: 10rem;
  padding: 0.7rem;
  box-shadow: 2px 2px #b6b6b6;
  margin: 0.5rem;
  display: inline-flex;
  p {
    font-weight: bolder;
  }
}
.img-top {
  width: 6rem;
}
